*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: min(1300px, 100%);
  margin: 0 auto;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow: hidden;
}
main {
  flex: 1 1;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --clr-white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --font: "D-DIN", verdana, sans-serif;
}
